
.App{
    background: linear-gradient(90deg,rgb(240, 109, 16),rgb(255, 0, 191));
    width: 100%;
  }
    .card {
    
      z-index: 100;
      
      border: 1px solid #ccc; 
      border-radius: 10px;
      margin-top: 33px;
      align-items: center; 
      position: absolute;
      left: 35%;
      top: 100%;
    }
    .contain{
   padding: 30px;
   
    }
    
    .card img {
      width: 100%;

      max-width: 100px;
      border-radius: 50%;
      margin-top: 20px;
      left: 29%;
      display: flex;
      position: relative;
  
      filter: drop-shadow(8px 5px 6px  );
    }
    
    .card h2 {
      margin-top: 0;
    }
    
    .card p {
      margin: 0;
    }
    
    .card .label {
      font-weight: bold;
    }
    
    .card .value {
      margin-left: 5px;
    }
    .form label{
   font-size: 25px;
    }
  .form input{
   height: 25px;
  }
  .form button{
    height: 25px;
  }
  .form{
    top: 10%;
    left: 20%;
    position: absolute;
  }
  .form button:hover{
    cursor: pointer;
    color: #ccc;
    background: #000;
  }